#bg-image{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/model-3.jpg");
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    position: fixed;
    height: 65px;
    width: 100%;
    font-size: 19px;
    font-family: Ubuntu, sans-serif;
    color: blue;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 1;
}

header > nav {
    top: 0;
    right: 0;
    position: absolute;

}

nav > ul {
    list-style-type: none;
}

nav > ul > li {
    font-family: 'Open Sans', sans-serif;
    display: inline;
    margin-left: 5px;
    color: red;
    padding: 0 10px 0 10px;

}

nav > ul > li > a {
    text-decoration: none;
    color: red;
    transition: all 0.3s ease;
    position: relative;
    left: -9vh;
}

nav > ul > li > a:hover {
    cursor: pointer;
    color: blue;
}

body > header > p {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

#btn1{
    background-color: #ae44d0;
    font-family: 'Open Sans', sans-serif;
    opacity: 0.85;
    cursor: pointer;
    position: relative;
    left: -7vh !important;
    width: 13vh;
    height: 4vh;
    border-radius: 15px;
}

a{
    text-decoration: none;
    color: white;
}

#btn2{
    background-color: #2ecc71;
    font-family: 'Open Sans', sans-serif ;
    opacity: 0.85;
    cursor: pointer;
    position: relative;
    left: -4vh !important;
    width: 13vh;
    height: 4vh;
    border-radius: 15px;
}