#h1-2 {
    left: 87vh;
    top: 22vh;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    color: #6f42c1;
}

#txtUserId {
    width: 65vh;
    left: 65vh;
    top: 31vh;
}

#txtUserName {
    width: 65vh;
    left: 65vh;
    top: 40vh;
}

#txtUserAddress {
    width: 65vh;
    left: 65vh;
    top: 49vh;
}

#txtUserContact {
    width: 65vh;
    left: 65vh;
    top: 58vh;
}

#btn {
    left: 90vh;
    top: 67vh;
    width: 12vh;
}

#imgSignIn {
    left: 89vh;
    top: 9vh;
}

#small {
    position: absolute;
    top: 96vh;
    left: 74vh;
    font-family: Ubuntu, sans-serif;
}
