.new {
    position: absolute;
    left: 138vh;
    top: 51px;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    color: #0a53be;
}

#id {
    position: absolute;
    left: 2vh !important;
    top: 27vh !important;
    width: 68vh;
    height: 71vh;
    justify-content: center;
}

#txtId {
    position: absolute;
    width: 67vh;
    top: 20vh;
}

.button {
    position: absolute;
    left: 70vh;
    top: 20vh;
}

.label {
    left: 126vh;
    top: 15vh;
}

#txtUserId {
    width: 67vh;
    left: 126vh;
    top: 19vh;
}

.label1 {
    left: 126vh;
    top: 25vh;
}

#txtUserName {
    width: 67vh;
    left: 126vh;
    top: 29vh;
}

.label4{
    left: 126vh;
    top: 35vh;
}

#txtUserNic{
    width: 67vh;
    left: 126vh;

}

.label2 {
    left: 126vh;
    top: 46vh;
}

#txtUserAddress {
    width: 67vh;
    left: 126vh;
    top: 50vh;
}

.label3 {
    left: 126vh;
    top: 56vh;
}

#txtUserContact {
    width: 67vh;
    left: 126vh;
    top: 60vh;
}

#save {
    left: 126vh;
    top: 70vh;
    width: 10vh !important;
}

#update {
    left: 138vh;
    top: 70vh;
}

#loadAll {
    left: 150vh;
    top: 70vh;
}

#delete {
    left: 163vh;
    top: 70vh;
}

#table{
    width: 175vh;
    top: 79vh;
    left: 12vh;
}